.floatingLabel {
  display: flex;
  flex-direction: column;

  h4 {
    margin: 0;
    font-weight: normal;

    small {
      display: inline;
    }
  }

  .floatingLabelBody {
    display: flex;
    flex-direction: column;
  }
}

.floatingLabelRow {
  .floatingLabelBody {
    flex-direction: row;
  }
}
