@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.quote {
  position: relative;

  margin: 0 0 1.5em;
  padding: 0 1.5em;
  min-width: 100%;

  font-style: italic;
  color: $color-mid-grey;

  &:before {
    position: absolute;

    top: 16px;
    left: -20px;

    display: block;
    content: "\201C";
    font-size: 8rem;
  }

  p {
    margin: 0 0 1em 0;
    color: inherit;
    font-size: inherit;
    font-style: italic;
    line-height: inherit;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  cite {
    font-family: $body-font-family;
    font-size: 1.8rem;

    &:before {
      content: "\2014 \2009";
    }
  }
}

@media (prefers-color-scheme: dark) {
  .quote {
    color: lighten($color-mid-grey, 30%);
  }
}

@media (max-width: 500px) {
  .quote {
    padding: 0;

    &:before {
      display: none;
    }
  }
}
