@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/tools.scss";

.header {
  position: relative;

  margin: 0 auto;
  padding: 70px 70px 0px;
}

.headerWithImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .headerInner {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: rgba(255, 255, 255, 0.9);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    }

    .excerpt {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    }

    .details {
      background: white;
      border-bottom: 1px solid white;
      border-radius: 5px 5px 0 0;

      width: 100%;

      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

.headerInner {
}

.title {
  margin: 0 0 0.2em 0;
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 1.15;
}

.excerpt {
  margin: 20px 0 0 0;
  color: white;
  font-family: $text-font-family;
  font-size: 2.3rem;
  line-height: 1.4em;
  font-weight: 300;
}

.details {
  margin-top: 4rem;
  padding-top: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  position: relative;
  z-index: 20;

  background-color: white;

  margin: 0 auto;
  padding: 50px 70px 6vw;
  min-height: 230px;

  font-family: $text-font-family;
  font-size: 2rem;
  line-height: 1.6em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    min-width: 100%;
    color: darken($color-dark-grey, 5%);
    font-family: $body-font-family;

    &:hover {
      > a {
        > span {
          position: relative;

          &:before {
            content: "";
            position: absolute;
            left: -1em;
            top: 0.125em;
            width: 1em;
            height: 1em;

            opacity: 0.5;
            background-color: darken($color-mid-grey, 30%);
            mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"><path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/><path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/></svg>');
            mask-repeat: no-repeat;
            mask-size: contain;
          }
        }
      }
    }
  }

  h1,
  h2,
  h3,
  h4 {
    + figure {
      margin-top: 2em;
    }
  }

  h1 {
    margin: 0.5em 0 0.4em;

    font-size: 4.2rem;
    line-height: 1.25em;
    font-weight: 600;
  }

  h2 {
    margin: 0.5em 0 0.4em;

    font-size: 3.2rem;
    line-height: 1.25em;
    font-weight: 600;

    + h3 {
      margin-top: 0.7em;
    }

    + h4 {
      margin-top: 0.7em;
    }
  }

  h3 {
    margin: 0.5em 0 0.2em;

    font-size: 2.5rem;
    line-height: 1.3em;
    font-weight: 600;

    + h4 {
      margin-top: 0;
    }
  }

  h4 {
    margin: 0.5em 0 0.2em;
    font-size: 2.5rem;
    font-weight: 600;
  }

  h5 {
    margin: 0.5em 0;
    padding: 0.3em 1em 0.9em;
    font-size: 3.2rem;
    line-height: 1.35em;
    text-align: center;
    color: $color-blue;
  }

  h6 {
    margin: 0.5em 0 0.2em 0;
    font-size: 2rem;
    font-weight: 700;
  }

  a {
    color: $color-dark-grey;
    word-break: break-word;
    box-shadow: $color-dark-grey 0 -1px 0 inset;

    &:hover {
      color: $color-blue;
      text-decoration: none;
      box-shadow: $color-blue 0 -1px 0 inset;
    }

    &[data-footnote-backref="true"] {
      box-shadow: none;
      color: $color-light-grey;
    }

    > code {
      text-decoration: underline;
    }
  }

  p {
    margin: 0 0 1.5em 0;
    min-width: 100%;

    + h1,
    + h2 {
      margin-top: 0.8em;
    }
  }

  ul,
  ol,
  dl {
    margin: 0 0 1.5em 0;
    max-width: 100%;
    align-self: flex-start;
  }

  li {
    word-break: break-word;
    margin: 0.5em 0;
    padding-left: 0.3em;
    line-height: 1.6em;

    p {
      margin: 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  pre {
    margin: 0;
    padding: 20px;

    overflow-x: auto;

    border: 1px darken($color-light-grey, 10%) solid;
    border-radius: 5px;
    color: #383a42;
    background-color: rgb(255, 247, 236);

    font-size: 1.5rem;
    line-height: 1.5em;

    &::selection {
      color: darken($color-mid-grey, 25%);
    }

    code {
      display: block;
      padding: 0;

      font-size: inherit;
      line-height: inherit;
      background: transparent;

      &.language-box-drawing,
      &:not([class]) {
        line-height: 1.3em;
      }

      &:not(span) {
        color: inherit;
      }
    }
  }

  blockquote {
    margin: 0 0 1.5em;
    padding: 0 1.5em;
    min-width: 100%;

    border-left: 3px solid #3eb0ef;
    font-style: italic;
    color: $color-mid-grey;

    p {
      margin: 0 0 1em 0;
      color: inherit;
      font-size: inherit;
      font-style: italic;
      line-height: inherit;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  strong,
  em {
    color: darken($color-dark-grey, 5%);
  }

  small {
    display: inline-block;
    line-height: 1.6em;
  }

  video {
    display: block;
    margin: 1.5em auto;
    max-width: 1040px;
    height: auto;
  }

  code {
    padding: 0 5px 2px;
    font-size: 0.8em;
    line-height: 1em;
    font-weight: 400 !important;
    background-color: lighten($color-light-grey, 15%);
  }

  hr {
    margin: 2em 0;

    &:after {
      content: "";
      position: absolute;
      top: -15px;
      left: 50%;
      display: block;
      margin-left: -10px;
      width: 1px;
      height: 30px;
      background-color: lighten($color-light-grey, 10%);
      box-shadow: #ffffff 0 0 0 5px;
      transform: rotate(45deg);
    }

    + p {
      margin-top: 1.2em;
    }
  }

  table {
    border-collapse: collapse;

    margin: 0.5em 0 2.5em;

    font-size: 0.9em;
    font-family: $body-font-family;

    min-width: 50%;
    max-width: 100%;

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);

    th,
    td {
      padding: 1rem 1.5rem;
    }

    thead {
      tr {
        background-color: $primary-background;
        color: white;
        text-align: left;
      }
    }

    tbody {
      tr {
        &:not(:last-child) {
          border-bottom: 1px solid $color-light-grey;
        }

        &:nth-of-type(even) {
          background-color: rgba(0, 0, 0, 0.1);
        }

        &:last-child {
          border-bottom-color: $color-mid-grey;
        }
      }
    }
  }

  section[data-footnotes="true"] {
    width: 100%;
  }
}

.contentInner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .headerWithImage {
    .headerInner {
      .details {
        background-color: $dark-mode-background;
        border-bottom-color: $dark-mode-background;
      }
    }
  }

  .content {
    background-color: $dark-mode-background;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: rgba(255, 255, 255, 0.9);

      &:hover {
        > a {
          > span {
            &:before {
              background-color: white;
            }
          }
        }
      }
    }

    a {
      color: white;
      box-shadow: inset 0 -1px 0 white;

      &[data-footnote-backref="true"] {
        color: $color-mid-grey;
      }
    }

    strong,
    em {
      color: rgba(255, 255, 255, 0.75);
    }

    blockquote {
      color: lighten($color-mid-grey, 30%);
    }

    pre {
      background-color: #282c34;
      border-color: darken($color-dark-grey, 10%);
      color: #c8ced7;
    }

    code {
      color: white;
      background: black;
    }

    table {
      tbody {
        tr {
          &:not(:last-child) {
            border-bottom: 1px solid $color-mid-grey;
          }

          &:nth-of-type(even) {
            background-color: rgba(255, 255, 255, 0.05);
          }

          &:last-child {
            border-bottom-color: $color-dark-grey;
          }
        }
      }
    }
  }
}

@media (min-width: 1180px) {
  .content {
    h5 {
      max-width: 1060px;
      width: 100vw;
    }
  }
}

@media (max-width: 1170px) {
  .header {
    padding: 60px 11vw 0;
  }

  .content {
    padding: 0 11vw;
  }
}

@media (max-width: 800px) {
  .header {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .content {
    padding: 50px 5vw;
    font-size: 1.8rem;

    h1 {
      font-size: 3.2rem;
      line-height: 1.25em;

      + figure {
        margin-top: 0.9em;
      }
    }

    h2 {
      margin-bottom: 0.3em;
      font-size: 2.8rem;
      line-height: 1.25em;

      + figure {
        margin-top: 0.9em;
      }
    }

    h3 {
      margin-bottom: 0.3em;
      font-size: 2.4rem;
      line-height: 1.3em;

      + figure {
        margin-top: 0.9em;
      }
    }

    h4 {
      margin-bottom: 0.3em;
      font-size: 2.4rem;
      line-height: 1.3em;

      + figure {
        margin-top: 0.9em;
      }
    }

    h5 {
      margin-bottom: 1em;
      margin-left: 1.3em;
      padding: 0 0 0.5em;
      font-size: 2.4rem;
      text-align: initial;
    }

    h6 {
      font-size: 1.8rem;
      line-height: 1.4em;
    }

    figure {
      margin: 0.2em 0 1.3em;
    }
  }
}

@media (max-width: 500px) {
  .header {
    padding: 20px 0 0 0;
  }

  .title {
    font-size: 3.3rem;
  }

  .headerWithImage {
    .headerInner {
      .details {
        box-sizing: border-box;
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
    }
  }

  .details {
    flex-direction: column;
  }

  .excerpt {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .content {
    padding: 35px 0.5rem 0 0.5rem;

    p,
    ul,
    ol,
    dl,
    pre {
      margin-bottom: 1.28em;
    }

    blockquote {
      padding: 0 1.3em;
    }
  }
}

@media print {
  .header {
    padding-top: 10px;
  }

  .headerWithImage {
    .title {
      font-size: 4rem;
      text-shadow: none;
    }

    .excerpt {
      text-shadow: none;
      font-size: 2.1rem;
    }
  }

  .content {
    p,
    li,
    blockquote {
      font-size: 1.6rem;
      line-height: 1.6em;
    }

    h1,
    h2 {
      font-size: 3.2rem;
    }

    h3,
    h4,
    h5 {
      font-size: 2.2rem;
    }

    h6 {
      font-size: 2rem;
    }

    pre {
      background-color: transparent;
    }

    a {
      text-decoration: none;
      box-shadow: none;
    }

    code {
      padding: none;
      font-size: 1em;
      background-color: transparent;
    }

    a > code {
      text-decoration: none;
    }
  }
}
