.calc-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.calc-panel {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem 0.5rem;
  align-content: start;
  border-radius: 0.375rem;
  border: 1px solid #d1d5dc;
  background-color: #e5e5e5;
  padding: 1rem;
}

.calc-panel.report {
  marigin-top: 1rem;
}

.calc-panel > .header > h1, .calc-panel > h1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.calc-subgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.quantity-pair {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.grow {
  flex-grow: 1;
}

.help {
  color: #737373;
  font-size: 0.75rem;
}

.danger {
  color: #e7000b;
}

.quantity-buttons {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  padding-top: 1.5rem;
}

.report-panel {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  gap: 0.5rem;

  .description {
    grid-column: span 3 / span 3;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.report-panel .row {
  display: grid;
  grid-column: span 3 / span 3;
  grid-template-columns: subgrid;
  align-items: center;

  > .label {
    font-weight: 700;
    grid-column-start: 2;
  }

  > .value {
    text-align: right;
    grid-column-start: 3;
  }
}

.report-panel .help {
  position: relative;
  cursor: pointer;

  > svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  > .tooltip {
    display: none;
  }

  &:hover > .tooltip {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  .calc-panel {
    border: none;
    background-color: #18181b;
  }

  .danger {
    color: #ff6467;
  }
}

@media (min-width: 768px) {
  .calc-panel:not(.report) {
    grid-template-columns: repeat(2, 1fr);
  }

  .calc-panel > .header {
    grid-column: span 2 / span 2;
  }
}

@media (min-width: 1024px) {
  .calc-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .calc-panel.stop-loss {
    margin-top: 1rem;
  }
}

