.search-box {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

.search-box > input {
  flex-grow: 1;
  background: none;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin-right: 1rem;
  padding: 1rem;
}

.search-box > button {
  flex-grow: 0;
  background: none;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 1rem 1.5rem;
}

@media (prefers-color-scheme: dark) {
  .search-box > input,
  .search-box > button {
    border-color: white;
  }
}

.search-card {
  display: flex;
  margin-bottom: 2rem;
}

.search-card-content {
  margin-left: 2rem;
  box-shadow: none !important;
}

.search-card-meta {
}

.search-card-byline-content {
}

.search-card-byline-date {
}

.search-card-excerpt {
}

.search-card-excerpt > p {
  color: #738a94;
}

.search-card-header {
}

.search-card-title {
}

.search-card-image-link {
  box-shadow: none !important;
  width: 200px;
  min-width: 200px;
  height: 200px;
  overflow: hidden;
  padding-top: 25px;
}

img.search-card-image {
  width: 200px;
  margin: 0;
}
