<div class="flex uppercase text-sm flex-col {{ if .horizontal }}md:flex-row items-center md:justify-between{{ end }}">
  <div class="flex flex-row gap-1">
    <div>{{ .post.Date | time.Format "2 Jan 2006" }}</div>
    <div class="text-gray-500">&#8226;</div>
    <div>{{ .post.ReadingTime }} min read</div>
  </div>
  {{ with .post.Param "tags" }}
    <div class="flex flex-row gap-1">
      {{ range $index, $tag := . }}
        {{ if gt $index 0 }}
          <div class="text-gray-500">&#8226;</div>
        {{ end }}
        {{ with site.GetPage (printf "/tags/%s" $tag) }}
          <a
            href="{{ .Permalink }}"
            class="text-sky-700/75 dark:text-sky-500/75 hover:text-sky-700 hover:dark:text-sky-500">
            {{ $tag | urlize }}
          </a>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
</div>

