[Unit]
Description=Ghost simple search server
After=network.target

[Service]
Environment="DB_PATH=/var/www/blakerain/ghost-search.db"
ExecStart="/var/www/blakerain/simple-search.py"

[Install]
WantedBy=multi-user.target
