{{ define "main" }}
<main class="articles-list content">
  <h1>
    Weeknotes
  </h1>
  <h2>
    {{ .Description }}
  </h2>
  <div class="weeknotes-list">
    {{ $pager := .Paginate .Pages 10 }}
    {{ range  $pager.Pages }}
      <article>
        <a class="colored" href="{{ .Permalink }}">
          {{ $parts := strings.Split (index (strings.Split .File.Dir "/") 1) "-" }}
          {{ index $parts 0 }} - Week {{ index $parts 1 }}
        </a>
        <div class="line"></div>
        <div>
          {{ .Date | time.Format "2 Jan 2006" }}
        </div>
        <p>
          {{ .Summary }}
        </p>
      </article>
    {{ end }}
    {{ partial "pager" $pager }}
  </div>
</main>
{{ end }}
