{{ define "main" }}
  {{ $cover := .Resources.GetMatch "cover.jpg" }}
  <main class="grow">
    <article class="h-entry">
      <header class="bg-[50%] bg-no-repeat bg-cover bg-fixed">
        <div class="mx-auto content flex flex-col">
          <h1 class="mx-2 md:mx-0 mb-10 lg:w-[45rem] self-center text-4xl md:text-5xl text-center font-bold leading-normal mt-10 text-neutral-800 dark:text-neutral-200">
            {{ if isset .Params "link" }}
              {{ partial "icons/icon" (dict "vendor" "lucide" "name" "external-link") }}
              <a class="colored decoration-2 underline-offset-4" href="{{ .Param "link" }}" class="u-url p-name" rel="noopener noreferrer">
                {{ .Title }}
              </a>
            {{ else }}
              {{ .Title }}
            {{ end }}
          </h1>
          <div class="flex flex-col md:flex-row items-start md:justify-between uppercase text-sm">
            <div class="flex flex-row flex-wrap gap-x-1">
              <div class="text-neutral-700 dark:text-neutral-300 dt-published">
                {{ .Param "date" | time.Format "2 Jan 2006" }}
              </div>
              <div class="text-gray-500">&#8226;</div>
              <div>{{ .ReadingTime }} min read</div>
              <div class="text-gray-500">&#8226;</div>
              <a href="{{ .Permalink }}" title="Link directly to this note" class="colored">
                Self link
              </a>
              {{ if .Param "archive" }}
                <div class="text-gray-500">&#8226;</div>
                <a class="colored" href="{{ .Param "archive" }}" target="_blank" rel="noopener noreferrer">archive</a>
              {{ end }}
              <div class="basis-full"></div>
              <a href="{{ .Param "link" }}" title="{{ .Title }}" class="colored normal-case">
                {{ .Param "link" }}
              </a>
            </div>
            {{ with .Param "tags" }}
              <div class="flex flex-row flex-wrap gap-x-2 gap-y-0">
                {{ range $index, $tag := . }}
                  {{ with site.GetPage (printf "/tags/%s" $tag) }}
                    <a
                      href="{{ .Permalink }}"
                      class="p-category text-slate-700 dark:text-slate-500 hover:text-slate-800 hover:dark:text-slate-400">
                      {{ $tag | humanize }}
                    </a>
                  {{ end }}
                {{ end }}
              </div>
            {{ end }}
          </div>
        </div>
      </header>
      <div class="mx-auto content mt-6 lg:mt-12 mb-20 markdown">
        {{ .Content }}
      </div>
    </article>
  </main>
{{ end }}


