{{ if gt .TotalPages 1 }}
  {{ $currentPage := .PageNumber }}
  <nav class="pager">
      {{ with .Prev }}
        <a href="{{ .URL }}" class="colored">Previous</a>
      {{ end }}
      {{ range .Pagers }}
        {{ if eq .PageNumber $currentPage }}
          <span class="pager-current">{{ .PageNumber }}</span>
        {{ else }}
          <a class="colored" href="{{ .URL }}">{{ .PageNumber }}</a>
        {{ end }}
      {{ end }}
      {{ with .Next }}
        <a href="{{ .URL }}" class="colored">Next</a>
      {{ end }}
  </nav>
{{ end }}
