{{- $mode := .mode | default "icons" -}}
{{- $class := .class | default "" -}}
{{- $linkClass := .linkClass | default "" -}}
{{- $wrap := .wrap | default true -}}
{{- if $wrap }}<div class="{{ $class }}">{{ end -}}
  {{- range site.Data.social }}
    <a href="{{ .url }}"
      target="_blank"
      title="{{ .title }}"
      rel="me noopener noreferrer"
      class="{{ $linkClass }} {{ if eq $mode "icons" }}{{ .hover_color }}{{ end }}">
      {{- if eq $mode "icons" -}}
        {{ partial "icons/icon" (dict "vendor" .icon.vendor "name" .icon.name) }}
      {{- else -}}
        {{ .name }}
      {{- end -}}
    </a>
  {{- end }}
{{- if $wrap }}</div>{{ end -}}
