.resultTable {
  width: 100%;

  tbody {
    th {
      text-align: left;
      vertical-align: top;
    }
  }
}

.numberCell {
  text-align: right;
}

.gridNoLoss {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gridWithLoss {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 1170px) {
  .gridNoLoss,
  .gridWithLoss {
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }
}
