{%- macro gallery(src, caption=none) %}
{%- set dir = "content/" ~ page.base ~ "/" ~ src %}
{%- set metadata = load_data(dir ~ "/gallery.yaml") %}
{%- set captions = metadata.captions | default({}, true) %}
```html
<figure class="gallery">
  {%- if caption %}
    <figcaption>{{ caption }}</figcaption>
  {%- endif %}
  <div class="gallery-images">
    {%- for file in list_files(dir) %}
      {%- set name = file | split(".") | first %}
      {%- set ext = file | split(".") | last %}
      {%- if ext in ["jpg", "jpeg", "png", "gif", "webp"] %}
        {%- set meta = captions[name] %}
        {%- set img_caption = none %}
        {%- set link = none %}
        {%- if meta is mapping %}
          {%- set img_caption = meta.caption %}
          {%- set link = meta.link %}
        {%- elif meta is string %}
          {%- set img_caption = meta %}
        {%- endif %}
        {%- set img = image(src ~ "/" ~ file, "q90 h700") %}
        {%- if not link %}
          {%- if ext == "gif" %}
            {%- set link = img.path %}
          {%- else %}
            {%- set full = image(src ~ "/" ~ file, "q90") %}
            {%- set link = full.path %}
          {%- endif %}
        {%- endif %}
        <div class="gallery-image-container">
          <a href="{{ link | safe }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ img.path | safe }}" {% if img_caption %}alt="{{ img_caption }}"{% endif %}>
          </a>
          {%- if img_caption %}
            <div class="caption">{{ img_caption }}</div>
          {%- endif %}
        </div>
      {%- endif %}
    {%- endfor %}
  </div>
</figure>
```
{%- endmacro %}
