@import "../styles/colors.scss";

.footer {
  background-color: $primary-background;
  padding: 20px 5vw;
  display: flex;
  justify-content: center;
}

.inner {
  max-width: 1040px;
  width: 100%;

  font-size: 1.3rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  a {
    color: rgba(255, 255, 255, 0.7);

    &:hover {
      color: rgba(255, 255, 255, 1);
      text-decoration: none;
    }
  }
}

.copyright {
  color: rgba(255, 255, 255, 0.7);
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  nav {
    display: flex;
    margin-bottom: 1rem;

    a {
      color: rgba(255, 255, 255, 0.7);
      position: relative;
      margin-left: 20px;

      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 12px;
        left: -11px;
        width: 2px;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 100%;
      }

      &:first-of-type {
        &:before {
          display: none;
        }
      }

      svg {
        position: relative;
        top: 2px;
        height: 0.9em;
      }
    }
  }
}

.popup {
  position: relative;
}

.popupMenu {
  position: absolute;

  bottom: 3rem;
  right: -1em;
  width: 20rem;

  display: none;

  padding: 1rem;

  background-color: lighten($primary-background, 10%);
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

  &:after {
    content: "";
    display: block;
    position: absolute;

    right: 1rem;
    bottom: -1rem;

    width: 0;
    height: 0;

    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid lighten($primary-background, 10%);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    li {
      margin: 0;
      padding: 0;

      display: block;

      a {
        margin: 0;
      }
    }
  }
}

.popupOpen {
  display: block;
}

@media (max-width: 650px) {
  .inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation {
    align-items: flex-start;

    nav {
      a {
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
