@import "../styles/colors.scss";

.navigation {
  background-color: $primary-background;

  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 0 5vw;
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  max-width: 1040px;
  width: 100%;

  margin: 9px 0;

  font-size: 1.3rem;
}

.left,
.right {
  display: flex;
  flex-direction: row;
}

.right {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    a {
      display: block;
      padding: 11px 10px 3px 10px;

      svg {
        height: 1.8rem;
        fill: white;
        opacity: 0.8;
      }

      &:hover {
        svg {
          opacity: 1;
        }
      }
    }
  }
}

.logo {
  padding: 6px 12px 0 0;

  img {
    display: block;
    width: auto;
    height: 28px;
  }
}

.siteNavigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  li {
    display: block;

    a {
      display: block;
      position: relative;
      padding: 12px 12px 0px 12px;

      color: white;
      opacity: 0.8;
      text-transform: uppercase;

      &.active {
        opacity: 1;
      }

      &:before {
        content: "";
        position: absolute;
        left: 12px;
        right: 12px;
        bottom: 8px;
        height: 1px;

        background-color: white;
        opacity: 0;
      }

      &:hover {
        opacity: 1;

        &:before {
          opacity: 0.75;
        }
      }
    }
  }
}

.highlightControls {
  background-color: $primary-background;
  color: $color-light-grey;

  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 1rem 5vw;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;

  div {
    padding: 1rem;
    line-height: 1.15;
  }

  div + button,
  button + button {
    margin-left: 1rem;
  }
}

@media (max-width: 750px) {
  .right {
    display: none;
  }
}

@media print {
  .navigation {
    display: none;
  }
}
