@import "../styles/colors.scss";

.postDetails {
  display: flex;
  flex-direction: row;
}

.postDetailsInner {
  margin-left: 6px;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.4em;
  font-weight: 400;
  color: $color-dark-grey;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      position: relative;
      display: block;

      margin-right: 10px;

      font-weight: 600;
      font-size: 1.3rem;

      &:after {
        content: "";
        display: block;
        position: absolute;

        top: 7px;
        right: -6px;
        width: 2px;
        height: 2px;

        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 100%;
      }

      &:last-of-type {
        margin-left: 0;

        &:after {
          display: none;
        }
      }

      a {
        margin-bottom: 0;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .postDetailsInner {
    color: $color-light-grey;
  }
}

.authorImage {
  width: 34px;
  height: 34px;
  border-radius: 100%;
}

.dateAndTime {
  display: flex;
  flex-direction: row;
}

.readingTime {
  margin-left: 20px;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;

    top: 7px;
    left: -11px;
    width: 2px;
    height: 2px;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
  }
}
