@import "../styles/colors.scss";

.button {
  position: fixed;
  z-index: 50;

  bottom: 2em;
  right: 2em;

  opacity: 0;
  transform: translateY(100px);

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  &.skipFooter {
    transform: translateY(-10px);
  }
}

@media (max-width: 800px) {
  .button {
    display: none;
  }
}
