@layer components {
  label {
    @apply block text-sm font-medium mb-1;
    @apply text-neutral-700 dark:text-neutral-300;
    @apply disabled:text-gray-400 dark:disabled:text-gray-800;
  }

  .field {
    @apply block w-full px-2.5 py-2;
    @apply sm:text-sm;
    @apply outline-none border rounded-lg;
    @apply bg-gray-50 border-gray-400 text-gray-900;
    @apply dark:bg-zinc-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white;
    @apply focus:ring-primary-light focus:border-primary-light;

    &:disabled {
      @apply bg-gray-100 border-gray-200 text-gray-500;
      @apply dark:bg-zinc-800 dark:border-gray-700 dark:text-gray-500;
    }

    &:invalid {
      @apply border-red-500;
      @apply dark:border-red-400;
    }
  }

  .input-icons {
    @apply relative;

    svg:first-child,
    svg:last-child {
      @apply pointer-events-none absolute top-1/2 -mt-2.5 text-gray-300 dark:text-gray-500;
    }

    svg:first-child {
      @apply left-3;
    }

    svg:last-child {
      @apply right-3;
    }

    select,
    input[type="text"],
    input[type="number"],
    input[type="password"] {
      &.icon-left {
        @apply pl-10;
      }

      &.icon-right {
        @apply pr-10;
      }
    }
  }

}
