.tool {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 5rem;

  @media (--screen-lg) {
    margin-top: 2rem;
  }

  > header {
    margin-bottom: 2rem;

    > h1 {
      font-size: var(--text-4xl);
      font-weight: 700;
      text-align: center;
      color: var(--color-text);

      @media (--screen-md) {
        font-size: var(--text-5xl);
      }
    }
  }
}
