/* Utility component variables */
:root {
  --module-error-text: var(--color-error-light);
}

/* ===========================================
   Screen Reader Only
   =========================================== */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* ===========================================
   Module shortcode error
   =========================================== */

.module-error {
  font-size: var(--text-2xl);
  color: var(--module-error-text);
}
