.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.module-error {
  font-size: var(--text-2xl);
  color: var(--color-error-light);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.no-wrap {
  white-space: nowrap;
}

.page-main {
  flex-grow: 1;
}
