/* Weeknotes component variables */
:root {
  --weeknotes-title-text: var(--color-text);
  --weeknotes-line: var(--color-text-muted);
  --weeknotes-subtitle-text: var(--color-text-muted);
  --weeknotes-subtitle-cover-text: var(--color-text-soft);
}

.weeknotes-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  padding: 1rem;

  @media (--screen-lg) {
    padding: 0;
  }

  > article {
    display: grid;
    grid-template-columns: 3.5rem max-content 1fr max-content;
    gap: 0.25rem 1rem;
    align-items: center;

    > img.cover, > div.cover {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 0.5rem;
      grid-row: 1 / span 2;
    }

    > a {
      font-size: var(--text-lg);
      font-weight: var(--weight-semibold);
    }

    > .line {
      height: 0;
      border-top: 1px dashed var(--weeknotes-line);
    }

    > p {
      grid-column: 2 / span 3;
      color: var(--weeknotes-summary-text);
      font-style: italic;
    }
  }
}
