@import "../styles/fonts.scss";
@import "../styles/colors.scss";

.searchBox {
  display: flex;
  flex-direction: column;

  padding-bottom: 2rem;
  min-height: 280px;

  .input {
    position: relative;

    display: flex;
    flex-direction: column;

    input {
      padding-left: 40px;
    }

    &:before {
      content: "";

      position: absolute;
      top: 8px;
      left: 8px;
      width: 24px;
      height: 24px;

      display: inline-block;
      background-size: contain;
      background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32"><path fill="rgb(127,127,127)" stroke="transparent" strokeWidth="0" style="" d="M 12 0 A 12 12 0 0 0 0 12 A 12 12 0 0 0 12 24 A 12 12 0 0 0 18.753906 21.917969 C 18.887375 22.146246 19.042704 22.366923 19.242188 22.566406 L 27.779297 31.103516 C 28.854914 32.179133 30.462126 32.303499 31.382812 31.382812 C 32.303499 30.462126 32.179133 28.854914 31.103516 27.779297 L 22.566406 19.242188 C 22.364055 19.039836 22.140067 18.882462 21.908203 18.748047 A 12 12 0 0 0 24 12 A 12 12 0 0 0 12 0 z M 12 3.4570312 A 8.5423727 8.5423727 0 0 1 20.542969 12 A 8.5423727 8.5423727 0 0 1 12 20.542969 A 8.5423727 8.5423727 0 0 1 3.4570312 12 A 8.5423727 8.5423727 0 0 1 12 3.4570312 z" /></svg>');
    }
  }
}

.results {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  margin-top: 2rem;

  .stats {
    text-align: center;
    color: lighten($color-mid-grey, 20%);
  }
}

.result {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-column-gap: 40px;

  a {
    display: block;
  }
}

.resultImage {
  width: 100%;
  height: 200px;

  flex-grow: 0;
  flex-shrink: 0;
  position: relative;

  img {
    border-radius: 8px;
    object-fit: cover;
  }
}

.resultDetails {
  display: flex;
  flex-direction: column;

  header {
    font-size: 2.2rem;
    line-height: 1.15em;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.85);
  }

  section {
    font-family: $text-font-family;
    font-size: 2rem;
    line-height: 1.6em;
    color: rgb(74, 89, 95);
  }
}

.resultStats {
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.4em;
  font-weight: 400;
  color: $color-dark-grey;

  span.matches {
    font-weight: bold;
    color: darken($color-green, 20%);
  }

  span:not(:first-child):before {
    content: "•";
    margin: 0 10px;
    color: rgba(0, 0, 0, 0.5);
  }
}

.message {
  margin-top: 2rem;
  font-style: italic;
  text-align: center;
}

.noImage {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $color-light-grey;
  border-radius: 8px;

  span {
    display: block;
    color: $color-light-grey;
    font-size: 4rem;
  }
}

@media (prefers-color-scheme: dark) {
  .stats {
    color: $color-mid-grey;
  }

  .resultDetails {
    header {
      color: rgba(255, 255, 255, 0.85);
    }

    section {
      color: rgb(149, 166, 173);
    }
  }

  .resultStats {
    color: $color-light-grey;

    span:not(:first-child):before {
      color: rgba(255, 255, 255, 0.5);
    }

    span.matches {
      color: $color-green;
    }
  }

  .noImage {
    border-color: $color-mid-grey;

    span {
      color: $color-mid-grey;
    }
  }
}

@media (max-width: 768px) {
  .result {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
