$color-blue: rgb(62, 176, 239);
$color-green: rgb(164, 208, 55);
$color-purple: rgb(173, 38, 180);
$color-yellow: rgb(254, 205, 53);
$color-red: rgb(240, 82, 48);
$color-pink: rgb(250, 58, 87);
$color-brown: rgb(163, 130, 26);

$color-dark-grey: rgb(21, 23, 26);
$color-mid-grey: rgb(74, 89, 95);
$color-light-grey: rgb(197, 210, 217);
$color-white-grey: rgb(229, 239, 245);

$color-body-text: darken($color-mid-grey, 30%);
$primary-background: rgb(19, 48, 78);
$dark-mode-body-text: rgba(255, 255, 255, 0.75);
$dark-mode-primary: rgb(34, 41, 61);
$dark-mode-background: lighten($color-dark-grey, 2%);

$button-background: lighten($primary-background, 10%);
$button-active-background: lighten($primary-background, 20%);
$button-disabled-background: lighten($primary-background, 15%);
