<div class="book-card">
  <div class="book-cover">
    <a href="{{ .Get "url" }}" target="_blank" rel="noopener">
      {{ $cover := .Get "cover" }}
      {{ $cover  = .Page.Resources.Get $cover }}
      {{ $cover  = $cover.Process "q75 webp" }}
      <img class="book-cover" src="{{ $cover.Permalink }}" alt="Book Cover of {{ .Get "title" }}">
    </a>
  </div>
  <div class="book-info">
    <h3>
      <a href="{{ .Get "url" }}" target="_blank" rel="noopener">
        {{ .Get "title" }}
      </a>
      {{ with .Get "rating" }}
        <div class="book-rating" title="Rating {{ . }}/5">
          {{ strings.Repeat . "★" }}{{ strings.Repeat (sub 5 .) "☆" }}
        </div>
      {{ end }}
    </h3>
    {{ with .Get "subtitle" }}
      <h4>
        {{ . }}
      </h4>
    {{ end }}
    <div class="book-meta">
      <div>{{ .Get "author" }}</div>
      {{ with .Get "year" }}
        <div class="separator">&#8226;</div>
        <div>{{ . }}</div>
      {{ end }}
      {{ with .Get "pages" }}
        <div class="separator">&#8226;</div>
        <div>{{ . }}</div>
      {{ end }}
    </div>
    {{ with .Get "rating" }}
      <div class="book-rating-mobile" title="Rating {{ . }}/5">
        {{ strings.Repeat . "★" }}{{ strings.Repeat (sub 5 .) "☆" }}
      </div>
    {{ end }}
  </div>
  <div class="book-content">
    {{ .Inner | markdownify }}
    <a class="book-link" href="{{ .Get "url" }}" target="_blank" rel="noopener">
      View book {{ partial "icons/icon" (dict "vendor" "lucide" "name" "arrow-right") }}
    </a>
  </div>
</div>
