<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
  {{- $u := urls.Parse (.Get "src") -}}
  {{- $src := $u.String -}}

  {{- if .Get "link" -}}
    <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
  {{- else if .Get "enlarge" -}}
    {{- with or (.Page.Resources.Get $u.Path) (resources.Get $u.Path) -}}
      <a href="{{ .Permalink }}" target="_blank" rel="noopener noreferrer">
    {{- end -}}
  {{- end -}}

  {{- $width := .Get "width" -}}
  {{- $height := .Get "height" -}}

  {{- if not $u.IsAbs -}}
    {{- with or (.Page.Resources.Get $u.Path) (resources.Get $u.Path) -}}
      {{- $spec := "q90 webp" -}}
      {{- if (and $width $height) -}}
        {{- $spec = printf "resize %dx%d %s" $width $height $spec -}}
      {{- else if (and $width (not $height)) -}}
        {{- $spec = printf "resize %dx %s" $width $spec -}}
      {{- else if (and (not $width) $height) -}}
        {{- $spec = printf "resize x%d %s" $height $spec -}}
      {{- end -}}
      {{- $image := .Process $spec -}}
      {{- $src = $image.Permalink -}}
    {{- end -}}
  {{- end -}}


  <img src="{{ $src }}"
    {{- if or (.Get "alt") (.Get "caption") }}
    alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
    {{- end -}}
    {{- with .Get "width" }} width="{{ . }}"{{ end -}}
    {{- with .Get "height" }} height="{{ . }}"{{ end -}}
    {{- with .Get "loading" }} loading="{{ . }}"{{ end -}}
  ><!-- Closing img tag -->
  {{- if or (.Get "link") (.Get "enlarge") }}</a>{{ end -}}
  {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
    <figcaption>
      {{ with (.Get "title") -}}
        {{ . }}
      {{- end -}}
      {{- if or (.Get "caption") (.Get "attr") -}}<p>
        {{- .Get "caption" | markdownify -}}
        {{- with .Get "attrlink" }}
          <a href="{{ . }}">
        {{- end -}}
        {{- .Get "attr" | markdownify -}}
        {{- if .Get "attrlink" }}</a>{{ end }}</p>
      {{- end }}
      {{- if .Get "enlarge" -}}
        <div class="italic">(click image to enlarge)</div>
      {{- end -}}
    </figcaption>
  {{- end }}
</figure>

