@import "../less/variables.less";

div.post-cards {
  display: flex;
  flex-wrap: wrap;

  margin-top: 40px;

  article {
    flex: 1 1 300px;
    min-height: 220px;

    margin: 0 0 40px;
    padding: 0 20px 40px;

    display: flex;
    flex-direction: column;

    img.post-card-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .inner {
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a {
        display: block;
        margin-bottom: 1em;
      }

      header {
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.15em;
        color: rgba(255, 255, 255, 0.85);

        margin-top: 15px;
        margin-bottom: 10px;
      }

      section {
        color: #60747c;
        font-family: Georgia, serif;
      }

      div.post-details ul li {
        font-weight: 600;
      }
    }

    &.large {
      flex: 1 1 100%;
      flex-direction: row;
      min-height: 280px;

      img.post-card-image {
        width: 100%;
        height: 100%;
      }

      div.inner {
        margin-left: 40px;
        justify-content: start;
      }
    }
  }
}
