{{ $page := .page }}
<nav class="print:hidden bg-primary shadow-md dark:shadow-none text-neutral-200">
  <div class="container mx-auto flex flex-col md:flex-row px-2 sm:px-4">
    <div class="flex flex-row justify-between items-center">
      <a href="/" class="block pr-4 py-4 md:my-0">
        <img class="block" src="/media/logo-text.png" width="154" height="28" alt="Blake Rain">
      </a>
      <button id="nav-menu-toggle" type="button" class="md:hidden p-4">
        {{ partial "icons/icon" (dict "vendor" "lucide" "name" "menu") }}
        <span class="sr-only">Toggle Menu</span>
      </button>
    </div>
    {{ with site.Menus.main }}
      <div id="nav-menu" class="md:flex flex-col md:flex-row hidden">
        {{ range . }}
          {{ $active := $page.IsMenuCurrent .Menu . }}
          {{ $active = or $active ($page.HasMenuCurrent .Menu .) }}
          <a
            href="{{ .URL }}"
            class="px-4 py-6 transition-colors hover:bg-primary-dark/50 hover:text-neutral-50
                  {{ if $active }}bg-primary-dark/50 text-neutral-50{{ end }}">
            {{ .Name }}
          </a>
        {{ end }}
      </div>
    {{ end }}
    <div class="hidden md:flex flex-row items-center gap-2 ml-auto">
      <a href="https://github.com/BlakeRain"
        class="text-neutral-200/75 hover:text-neutral-200"
        title="GitHub profile"
        target="_blank"
        rel="noreferrer">
        {{ partial "icons/icon" (dict "vendor" "bootstrap" "name" "github") }}
      </a>
      <a href="https://mastodonapp.uk/@BlakeRain"
        class="text-neutral-200/75 hover:text-neutral-200"
        title="@BlakeRain@mastodonapp.uk"
        target="_blank"
        rel="noreferrer">
        {{ partial "icons/icon" (dict "vendor" "bootstrap" "name" "mastodon") }}
      </a>
      <a href="/blog/index.xml"
        class="text-neutral-200/75 hover:text-neutral-200"
        title="Blog RSS feed"
        target="_blank"
        rel="noreferrer">
        {{ partial "icons/icon" (dict "vendor" "lucide" "name" "rss") }}
      </a>
    </div>
  </div>
</nav>
<script type="text/javascript">
  window.addEventListener("DOMContentLoaded", () => {
    const navMenu = document.getElementById("nav-menu");
    document.getElementById("nav-menu-toggle").addEventListener("click", () => {
      navMenu.classList.toggle("hidden");
      navMenu.classList.toggle("flex");
    });
  });
</script>
