.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.column {
  display: flex;
}

.hints {
  opacity: 0.75;
}

.wide {
  flex-grow: 1;
}

@media (max-width: 650px) {
  .hints {
    display: none;
  }
}
