{{ define "head" }}
  <link rel="blogroll" type="text/xml" href="/downloads/feeds.opml.xml" title="Blake Rain's blogroll"/>
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/index.xml">
{{ end }}
{{ define "main" }}
  <main class="home h-card">
    <img class="photo u-photo"
      alt="Blake Rain" loading="lazy" decoding="async" src="/media/photo-small.webp">
    <h1>Blake Rain</h1>
    <h2>Software Engineer at Cignpost</h2>
    <a style="display: none;" class="u-url" href="https://blakerain.com/" rel="me">Blake Rain</a>
    {{ partial "social-links" (dict
      "mode" "icons"
      "class" "socials"
    ) }}
    <p class="p-note">
      Hello, my name is Blake Rain, I am a UK-based software engineer with a passion for Rust,
      <span class="no-wrap">C/C++</span>, and Haskell. I am currently working as a senior
      software engineer at Cignpost.
    </p>
    <p>
      When I find time I enjoy experimenting with technology. I do try and remember to share my
      findings on my <a class="colored" href="/blog">blog</a>, and any useful <a class="colored"
      href="/notes">notes</a> I find along the way.
    </p>
    <section>
      <h1>Latest Posts</h1>
      {{ partial "_inline/index.articles.html" (dict "section" "blog") }}
    </section>
    <section>
      <h1>Latest Notes</h1>
      {{ partial "_inline/index.articles.html" (dict "section" "notes") }}
    </section>
  </main>
{{ end }}
{{ define "_partials/_inline/index.articles.html" }}
  {{- $section := .section -}}
  <ul class="posts">
    {{ range first 4 (sort (where site.RegularPages "Section" $section) "Date" "desc") }}
      <li>
        <a href="{{ .RelPermalink }}" class="colored">
          {{ .Title }}
        </a>
        <ul class="metadata">
          <li>
            {{ .Date.Format "2 January 2006" }}
          </li>
          {{ with .Param "tags" }}
            <li class="spacer">•</li>
            <li>
              <ul class="tag-list">
                {{ range $index, $tag := . }}
                  {{ with site.GetPage (printf "/tags/%s" $tag) }}
                    <a href="{{ .Permalink }}" class="tag p-category">
                      {{ $tag | humanize }}
                    </a>
                  {{ end }}
                {{ end }}
              </ul>
            </li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  </ul>
{{ end }}
