{{- if eq .Type "alert" -}}
{{- $icons := dict
  "note"       "pencil"
  "info"       "info"
  "todo"       "circle-check"
  "tip"        "flame"
  "success"    "check"
  "question"   "circle-help"
  "warning"    "triangle-alert"
  "failure"    "x"
  "danger"     "zap"
  "bug"        "bug"
  "example"    "list"
}}
{{- $type := cond (index $icons .AlertType) .AlertType "note" }}
{{- $title := or .AlertTitle (title $type) }}
{{- $icon := index $icons $type }}
<aside class="callout {{ $type }}">
  <p>
    <strong class="callout-label">
      <span aria-hidden="true">{{ partial "icons/icon" (dict "vendor" "lucide" "name" $icon) }}</span>
      {{ $title }}
    </strong>
  </p>
  {{ .Text }}
</aside>
{{- else -}}
<blockquote>
  {{ .Text }}
</blockquote>
{{- end -}}
