@import "variables.scss";

.kg-width-full {
  figcaption {
    padding: 0 1.5em;
  }
}
.kg-embed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .fluid-width-video-wrapper {
    margin: 0;
  }
}
.kg-gallery-container {
  display: flex;
  flex-direction: column;
  max-width: 1040px;
  width: 100vw;
}
.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  &:not(:first-of-type) {
    margin: 0.75em 0 0 0;
  }
}
.kg-gallery-image {
  img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  &:not(:first-of-type) {
    margin: 0 0 0 0.75em;
  }
}
.kg-gallery-card {
  + {
    .kg-image-card.kg-width-wide {
      margin: -2.25em 0 3em;
    }
    .kg-gallery-card {
      margin: -2.25em 0 3em;
    }
  }
}
.kg-image-card.kg-width-wide {
  + {
    .kg-gallery-card {
      margin: -2.25em 0 3em;
    }
    .kg-image-card.kg-width-wide {
      margin: -2.25em 0 3em;
    }
  }
}
.kg-code-card {
  width: 100%;
  pre {
    margin: 0;
  }
}
.kg-bookmark-card {
  width: 100%;
  background: var(--white);
}
.kg-card {
  + {
    .kg-bookmark-card {
      margin-top: 0;
    }
  }
}
.kg-bookmark-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}
.kg-bookmark-title {
  color: adjust-color($midgrey, $lightness: -30%);
  font-size: 1.6rem;
  line-height: 1.5em;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}
.kg-bookmark-description {
  display: -webkit-box;
  overflow-y: hidden;
  margin-top: 12px;
  max-height: 48px;
  color: adjust-color($midgrey, $lightness: -10%);
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: 400;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.kg-bookmark-thumbnail {
  position: relative;
  min-width: 33%;
  max-height: 100%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 3px 3px 0;
    object-fit: cover;
  }
}
.kg-bookmark-metadata {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 14px;
  color: adjust-color($midgrey, $lightness: -10%);
  font-size: 1.5rem;
  font-weight: 400;
}
.kg-bookmark-author {
  line-height: 1.5em;
  &:after {
    content: "•";
    margin: 0 6px;
  }
}
.kg-bookmark-publisher {
  overflow: hidden;
  max-width: 240px;
  line-height: 1.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 500px) {
  .kg-bookmark-title {
    font-size: 1.4rem;
    line-height: 1.5em;
  }
  .kg-bookmark-description {
    font-size: 1.4rem;
    line-height: 1.5em;
  }
  .kg-bookmark-metadata {
    font-size: 1.4rem;
    line-height: 1.5em;
  }
  .kg-bookmark-thumbnail {
    order: 1;
    min-height: 160px;
    width: 100%;
    img {
      border-radius: 3px 3px 0 0;
    }
  }
  .kg-bookmark-content {
    order: 2;
  }
}

@media (prefers-color-scheme: dark) {
  .kg-bookmark-title {
    color: #fff;
  }
  .kg-bookmark-description {
    color: rgba(255, 255, 255, 0.75);
  }
  .kg-bookmark-metadata {
    color: rgba(255, 255, 255, 0.75);
  }
}
