.posts {
  overflow-x: hidden;
}

.post-feed {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  padding: 50px 0 0;
  background: #fff;

  .no-image {
    .post-card-content-link {
      padding: 0;
    }
  }
}

@media (max-width: 650px) {
  .post-feed {
    padding-top: 5vw;
  }
}

@media (min-width: 900px) {
  .home-template,
  .tag-template {
    .post-feed {
      padding: 40px 0 5vw;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .post-feed {
    background: var(--darkmode);
  }
}
