@import "variables.scss";

.site-footer {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background: $primary-background;
}

.site-footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.3rem;

  a {
    color: rgba(255, 255, 255, 0.7);

    &:hover {
      color: rgba(255, 255, 255, 1);
      text-decoration: none;
    }
  }

  section.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  section.badges {
    img {
      margin-left: 6px;
    }
  }
}

.site-footer-nav {
  display: flex;

  a {
    position: relative;
    margin-left: 20px;

    &:before {
      content: "";
      position: absolute;
      top: 11px;
      left: -11px;
      display: block;
      width: 2px;
      height: 2px;
      background: #fff;
      border-radius: 100%;
    }

    &:first-of-type {
      &:before {
        display: none;
      }
    }
  }
}

@media (max-width: 650px) {
  .site-footer-content {
    flex-direction: column;

    section.badges img {
      display: block;
      margin: 6px auto;
    }
  }

  .site-footer-nav {
    a {
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
