@import "variables.scss";

.site-title {
  z-index: 10;
  margin: 0 0 0 -2px;
  padding: 0;
  font-size: 5rem;
  line-height: 1em;
  font-weight: 600;
}

.site-logo {
  max-height: 55px;
}

.site-header-background {
  position: relative;
  margin-top: 64px;
  padding-bottom: 12px;
  color: #fff;
  background: $primary-background no-repeat center center;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
    background: rgba(0, 0, 0, 0.18);
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 10;
    display: block;
    height: 140px;
  }
}

.site-header-background.no-image {
  &:before {
    display: none;
  }

  &:after {
    display: none;
  }
}

.site-header-content {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vw 3vw;
  max-height: 340px;

  .author-profile-image {
    z-index: 10;
    flex-shrink: 0;
    margin: 5px 0 0;
    width: 110px;
    height: 110px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 0 0 6px;
  }
}

.site-home-header {
  z-index: 1000;

  .site-header-background {
    margin-top: 0;
  }

  .site-title {
    font-size: 5.5rem;
    text-align: center;
  }

  .site-description {
    font-size: 2.2rem;
    font-weight: 300;
  }

  .site-nav-logo {
    display: none;
  }
}

.site-archive-header {
  .site-header-content {
    position: relative;
    align-items: stretch;
    padding: 12vw 0 20px;
    min-height: 200px;
    max-height: 600px;
  }

  .no-image {
    padding-top: 0;
    padding-bottom: 0;
    color: var(--darkgrey);
    background: #fff;
    opacity: 1;

    .site-description {
      color: var(--midgrey);
      opacity: 1;
    }

    .site-header-content {
      padding: 5vw 0 10px;
      border-bottom: 1px solid adjust-color($lightgrey, $lightness: +12%);
    }

    .author-header {
      padding-bottom: 20px;
    }
  }
}

@media (max-width: 900px) {
  .site-header-content {
    padding-bottom: 9vw;
  }
}

@media (max-width: 700px) {
  .site-header-background {
    &:not(.responsive-header-img) {
      .site-nav {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          z-index: 1000;
          width: 40px;
          height: 100%;
          right: 0;
        }
      }
    }
  }

  .site-home-header {
    .site-nav {
      margin-left: -5vw;
    }
  }
}

@media (max-width: 500px) {
  .site-header-content {
    .author-profile-image {
      width: 80px;
      height: 80px;
    }
  }

  .site-home-header {
    .site-title {
      font-size: 3.2rem;
    }
    .site-description {
      font-size: 1.8rem;
    }
  }

  .site-archive-header {
    .site-header-content {
      min-height: unset;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .site-header-background {
    &:before {
      background: rgba(0, 0, 0, 0.6);
    }
  }

  .site-header-content {
    .author-profile-image {
      box-shadow: 0 0 0 6px hsla(0, 0%, 100%, 0.04);
    }
  }

  .site-archive-header {
    .no-image {
      color: rgba(255, 255, 255, 0.9);
      background: var(--darkmode);
      .site-header-content {
        border-bottom-color: adjust-color($darkmode, $lightness: +15%);
      }
    }
  }
}
