@import "variables.scss";

.site-nav-main {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: $primary-background;
}

.site-nav {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-y: hidden;
  height: 64px;
  font-size: 1.3rem;
}

.site-nav-left {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  margin-right: 10px;
  padding: 10px 0 80px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  white-space: nowrap;
  -ms-overflow-scrolling: touch;
}

.site-nav-logo {
  position: relative;
  z-index: 100;
  flex-shrink: 0;
  display: inline-block;
  margin-right: 32px;
  padding: 12px 0;
  color: #fff;
  font-size: 1.7rem;
  line-height: 1.8rem;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-transform: none;

  &:hover {
    text-decoration: none;
  }

  img {
    display: block;
    width: auto;
    height: 21px;
  }
}

.site-home-header {
  .site-nav-logo {
    display: none;
  }
}

.site-nav-content {
  position: relative;
  align-self: flex-start;
}

.nav {
  position: absolute;
  z-index: 1000;
  display: flex;
  margin: 0 0 0 -12px;
  padding: 0;
  list-style: none;

  li {
    display: block;
    margin: 0;
    padding: 0;

    a {
      position: relative;
      display: block;
      padding: 12px 12px;
      color: #fff;
      opacity: 0.8;
      transition: opacity 0.35s ease-in-out;

      &:before {
        content: "";
        position: absolute;
        right: 100%;
        bottom: 8px;
        left: 12px;
        height: 1px;
        background: #fff;
        opacity: 0.25;
      }

      &:hover {
        text-decoration: none;
        opacity: 1;

        &:before {
          right: 12px;
          opacity: 0.5;
        }
      }
    }
  }
}

.nav-post-title-active {
  .nav {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-175%);
  }

  .nav-post-title {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-post-title {
  visibility: hidden;
  position: absolute;
  top: 9px;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: none;
  opacity: 0;
  transform: translateY(175%);

  &.dash {
    left: -25px;

    &:before {
      content: "– ";
      opacity: 0.5;
    }
  }
}

.site-nav-right {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 10px 0;
  height: 64px;
}

.site-nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  text-align: center;

  .site-nav-logo {
    margin-right: 0;
  }
}

.social-links {
  flex-shrink: 0;
  display: flex;
  align-items: center;

  a {
    &:last-of-type {
      padding-right: 20px;
    }
  }
}

.social-link,
.search-link {
  display: inline-block;
  margin: 0;
  padding: 10px;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  svg {
    height: 1.8rem;
    fill: #fff;
  }
}

.social-link-fb {
  svg {
    height: 1.6rem;
  }
}

.social-link-wb {
  svg {
    height: 1.6rem;

    path {
      stroke: #fff;
    }
  }
}

.social-link-rss {
  svg {
    height: 1.9rem;
  }
}

.rss-button {
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  svg {
    margin-bottom: 1px;
    height: 2.1rem;
    fill: #fff;
  }
}

.home-template {
  .site-nav-main {
    z-index: 100;

    .site-nav {
      opacity: 0;
    }

    .fixed-nav-active {
      opacity: 1;
    }
  }
}

@media (min-width: 900px) {
  .home-template {
    .site-nav {
      position: relative;
    }
  }
}

@media (max-width: 700px) {
  .site-nav-main {
    padding-right: 0;
    padding-left: 0;

    .site-nav {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        z-index: 1000;
        width: 40px;
        height: 100%;
        right: 0;
      }
    }
  }

  .nav {
    li {
      &:last-of-type {
        padding-right: 20px;
      }
    }
  }

  .site-nav-left {
    margin-right: 0;
    padding-left: 5vw;
  }

  .site-nav-right {
    display: none;
  }
}
