@import "variables.scss";

.read-next-feed {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
  padding: 60px 0 0 0;
}
.read-next {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgb(19, 48, 78);
  .post-card {
    padding-bottom: 0;
    border-bottom: none;
    &:after {
      display: none;
    }
    &:hover {
      .post-card-image {
        opacity: 1;
      }
    }
  }
  .post-card-primary-tag {
    color: #fff;
    opacity: 0.6;
  }
  .post-card-title {
    color: #fff;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
  }
  .post-card-excerpt {
    color: rgba(255, 255, 255, 0.6);
  }
  .static-avatar {
    border-color: #000;
  }
  .post-card-byline-content {
    color: rgba(255, 255, 255, 0.6);
    a {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
.read-next-card {
  position: relative;
  flex: 0 1 326px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 25px 50px;
  padding: 25px;
  background: linear-gradient(
    adjust-color($darkgrey, $lightness: +2%),
    adjust-color($darkgrey, $lightness: -5%)
  );
  border-radius: 3px;
  a {
    transition: all 0.2s ease-in-out;
    &:hover {
      text-decoration: none;
    }
  }
}
.read-next-card-header {
  h3 {
    margin: 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
    line-height: 1em;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    a {
      color: #fff;
      font-weight: 500;
      text-decoration: none;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.read-next-card-content {
  font-size: 1.7rem;
  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 20px 0;
    border-bottom: rgba(255, 255, 255, 0.1);
    &:last-of-type {
      padding-bottom: 5px;
      border: none;
    }
    a {
      display: block;
      color: #fff;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
  h4 {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.35em;
    font-weight: 600;
  }
}
.read-next-card-excerpt {
  overflow: hidden;
  max-width: 100%;
  font-size: 1.4rem;
  line-height: 1.2em;
  text-overflow: ellipsis;
}
.read-next-card-meta {
  margin-top: 2px;
  font-size: 1.2rem;
  line-height: 1.4em;
  font-weight: 400;
  p {
    margin: 0;
    color: rgba(255, 255, 255, 0.6);
  }
}
.read-next-card-footer {
  position: relative;
  margin: 40px 0 5px;
  a {
    padding: 7px 12px 8px 14px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.3rem;
    border-radius: 999px;
    transition: all 0.35s ease-in-out;
    &:hover {
      border-color: var(--yellow);
      color: var(--yellow);
      text-decoration: none;
    }
  }
}

@media (max-width: 650px) {
  .read-next-feed {
    flex-direction: column;
    padding: 25px 0 0;
  }
  .read-next-card {
    flex: 1 1 auto;
    margin: 0 25px;
    padding: 0;
    background: none;
  }
  .read-next {
    .post-card {
      flex: 1 1 auto;
      margin: 25px;
      padding: 25px 0 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
}
