.search-link {
  display: inline-block;
  margin: 0;
  padding: 10px;
  opacity: 0.8;
  color: white;
}

.search-box-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(34, 39, 46, 0.75);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.search-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 10rem;
  padding: 2rem;
  background-color: #13304e;
  border-radius: 15px;
  color: rgba(255, 255, 255, 0.75);

  > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &.center {
      justify-content: center;
    }

    > div.column {
      display: flex;

      &.hints {
        opacity: 0.75;
      }

      &.wide {
        flex-grow: 1;
      }

      input {
        flex-grow: 1;
        color: #333;
        margin: 1rem 0;
        padding: 0.5rem;
      }

      p {
        margin: 0;
      }
    }
  }

  .search-result {
    color: #eee;

    &:hover {
      text-decoration: none;
      color: var(--blue);
    }
  }

  span.tag {
    color: #6b95d5;
    padding: 0 0.5rem;
  }
}

@media (max-width: 900px) {
  .search-box-container {
    align-items: flex-start;
  }

  .search-box {
    width: 80%;
    margin-top: 4rem;

    .search-result {
      padding: 0.5rem;
    }
  }
}

@media (max-width: 650px) {
  .search-box-container {
    align-items: flex-start;
  }

  .search-box {
    width: 100%;
    margin-top: 8rem;

    div.column.hints {
      display: none;
    }

    .search-result {
      padding: 0.5rem;

      div:last-child {
        display: none;
      }
    }
  }
}
