.rr-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;

  h1 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.rr-parameters {
  order: 1;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 0.5rem;
  row-gap: 1rem;
  align-content: start;
  border-radius: 0.375rem;
  border: 1px solid #d1d5dc;
  background-color: #e5e5e5;
  padding: 1rem;
}

.rr-outcome-table {
  order: 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  align-content: start;
  border-radius: 0.375rem;
  border: 1px solid #d1d5dc;
  background-color: #e5e5e5;
  padding: 1rem;

  > .heading {
    grid-column: span 5 / span 5;
    display: grid;
    grid-template-columns: subgrid;
    font-weight: 700;
    text-align: right;

    > div {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #99a1af;
    }
  }

  > .body {
    grid-column: span 5 / span 5;
    display: grid;
    grid-template-columns: subgrid;
    text-align: right;
  }
}

.rr-stats {
  order: 2;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-content: start;
  border-radius: 0.375rem;
  border: 1px solid #d1d5dc;
  background-color: #e5e5e5;
  padding: 1rem;

  risk-reward-results-summary {
    grid-column: span 2 / span 2;
    display: grid;
    grid-template-columns: subgrid;
    column-gap: 1rem;
    text-align: right;

    > :nth-child(odd) {
      font-weight: 700;
    }

    > :nth-child(even) {
      text-align: right;
    }

    > .spacer {
      margin-top: 0.5rem;
      padding-top: 0.5rem;
      border-top: 1px solid #99a1af;
    }
  }
}

.hidden {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .rr-parameters {
    border: none;
    background-color: #18181b;
  }

  .rr-outcome-table {
    border: none;
    background-color: #18181b;

    > .heading > div {
      border-bottom-color: #52525c;
    }
  }

  .rr-stats {
    border: none;
    background-color: #18181b;

    risk-reward-results-summary > .spacer {
      border-top-color: #52525c;
    }
  }
}

@media (min-width: 1024px) {
  .rr-grid {
    grid-template-columns: 1fr max-content max-content;
  }

  .rr-parameters {
    order: 2;
  }

  .rr-outcome-table {
    order: 1;
  }

  .rr-stats {
    order: 3;
  }
}

