<div class="flex flex-col gap-2 {{ if not .first }}pt-8 border-t border-t-neutral-300 dark:border-t-neutral-700{{ end }}">
  <div class="flex flex-col gap-2">
    <a href="{{ .post.RelPermalink }}" class="colored">
      <h1 class="text-2xl font-bold">{{ .post.Title }}</h1>
    </a>
    {{ with .post.Param "tags" }}
      <div class="uppercase text-xs leading-none flex flex-row flex-wrap gap-x-2 gap-y-0">
        {{ range $index, $tag := . }}
          {{ with site.GetPage (printf "/tags/%s" $tag) }}
            <a
              href="{{ .Permalink }}"
              class="text-slate-700 dark:text-slate-300 hover:text-slate-800 dark:hover:text-slate-200">
              {{ $tag | humanize }}
            </a>
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
  </div>
  {{ if .post.Summary }}
    <div class="markdown">
      {{ .post.Summary }}
    </div>
  {{ end }}
  <div class="uppercase flex flex-row gap-1 text-neutral-700 dark:text-neutral-300 text-right text-sm">
    <div>{{ .post.Date | time.Format "2 Jan 2006" }}</div>
    <div class="text-gray-400">&#8226;</div>
    <div>{{ .post.ReadingTime }} min read</div>
  </div>
</div>
