@import "../styles/colors.scss";

.signInFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signInForm {
  display: flex;
  flex-direction: column;

  margin: 5em 10em;
  padding: 1em;

  background-color: $primary-background;

  button {
    background-color: $color-blue;
    color: white;
    cursor: pointer;

    margin: 0.5em 0;
    padding: 1em;

    border: none;
    border-radius: 5px;

    &:hover {
      background-color: darken($color-blue, 10%);
    }

    &:disabled {
      background-color: $color-mid-grey;
      cursor: inherit;
      color: darken($color-mid-grey, 10%);

      &:hover {
        background-color: $color-mid-grey;
      }
    }
  }
}

.field {
  display: flex;
  flex-direction: row;

  margin: 0.5em 0;

  label {
    width: 25%;
    padding: 1rem 0;
  }

  input {
    width: 75%;

    padding: 1rem;
    border: none;
    border-radius: 5px;

    &:disabled {
      background-color: $color-light-grey;
      color: $color-light-grey;
    }
  }
}

.error {
  color: $color-red;
  font-weight: 600;
  text-align: center;
  min-height: 1.6em;
}

.reportContainer {
  margin: 2em 0;
}

.reportToolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: $primary-background;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  .left,
  .right {
    display: flex;
    flex-direction: row;
  }

  .left {
    padding-left: 10px;
    padding-top: 8px;

    button + button {
      margin-left: 0.25em;
    }
  }

  .right {
    padding-top: 4px;
    padding-right: 5px;
    padding-bottom: 4px;
  }
}

.reportTabButton {
  display: inline-block;

  background-color: lighten($primary-background, 20%);
  color: white;

  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  cursor: pointer;

  &:hover {
    background-color: lighten($primary-background, 30%);
  }
}

.activeTabButton {
  background-color: white;
  color: $color-dark-grey;

  &:hover {
    background-color: white;
  }
}

.reportNavButton {
  display: inline-block;

  background-color: lighten($primary-background, 20%);
  color: white;

  border: none;
  cursor: pointer;

  &:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &:hover {
    background-color: lighten($primary-background, 30%);
  }
}

.reportDate {
  background-color: lighten($primary-background, 20%);
  color: white;

  padding-left: 0.5rem;
  padding-right: 0.5rem;

  margin-right: 4px;

  border-radius: 5px;
}

.reportContents {
  border-color: $primary-background;
  border-width: 1px;
  border-style: none solid solid solid;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  .reportTabButton {
    background-color: lighten($primary-background, 10%);

    &:hover {
      background-color: lighten($primary-background, 20%);
    }
  }

  .reportDate {
    background-color: darken($primary-background, 5%);
  }

  .activeTabButton {
    background-color: $dark-mode-background;
    color: white;

    &:hover {
      background-color: $dark-mode-background;
    }
  }

  .reportNavButton {
    background-color: lighten($primary-background, 10%);
  }
}
