@import "../styles/colors.scss";

.postDateAndTime {
  font-size: 80%;
}

.readingTime {
  margin-left: 20px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 7px;
    left: -11px;
    width: 2px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
  }
}

.tag {
  display: flex;
  flex-direction: column;

  border: 1px solid $primary-background;
  border-radius: 1rem;
  padding: 1rem;

  header {
    min-height: 12rem;

    h1 {
      margin: 0;

      small {
        display: inline-block;
        margin: 0 0 0 0.5rem;
      }
    }

    p {
      margin-top: 0.5rem;
    }
  }

  footer {
    ul {
      padding: 0;
      list-style: none;
      margin: 0 0 0 2rem;

      li {
        display: block;
      }
    }
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
  margin: 40px 0;
}
