@import "../../styles/colors.scss";

.reportContainer {
  margin: 2em 0;
}

.reportToolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: $primary-background;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  .left,
  .right {
    display: flex;
    flex-direction: row;
  }

  .left {
    padding-left: 10px;
    padding-top: 8px;

    button + button {
      margin-left: 0.25em;
    }
  }

  .right {
    padding-top: 4px;
    padding-right: 5px;
    padding-bottom: 4px;
  }
}

.reportTabButton {
  display: inline-block;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.activeTabButton {
  background-color: $button-active-background;
}

.reportContents {
  display: flex;
  flex-direction: column;

  border-color: $primary-background;
  border-width: 1px;
  border-style: none solid solid solid;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  div {
    svg {
      margin: 0 1rem;
    }
  }
}

.reportControls {
  display: flex;
  flex-direction: row;

  background-color: $color-light-grey;
  padding: 1rem;

  span {
    display: block;
    line-height: 1.15;
    padding: 1rem 2rem;
    color: rgba(255, 255, 255, 0.75);

    background-color: $button-background;
  }

  span {
    border-radius: 5px;
  }

  span + div,
  div + span,
  span + span {
    margin-left: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  .reportControls {
    background-color: $color-mid-grey;
  }
}
