@import "../../styles/colors.scss";

.reportContainer {
  margin: 2em 0;
}

.reportToolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: $primary-background;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  .left,
  .right {
    display: flex;
    flex-direction: row;
  }

  .left {
    padding-left: 10px;
    padding-top: 8px;

    button + button {
      margin-left: 0.25em;
    }
  }

  .right {
    padding-top: 4px;
    padding-right: 5px;
    padding-bottom: 4px;
  }
}

.reportTabButton {
  display: inline-block;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.activeTabButton {
  background-color: white;
  color: $color-dark-grey;
}

.reportNavButton {
  display: inline-block;

  background-color: lighten($primary-background, 20%);
  color: white;

  border: none;
  cursor: pointer;

  &:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &:hover {
    background-color: lighten($primary-background, 30%);
  }
}

.reportDate {
  background-color: lighten($primary-background, 20%);
  color: white;

  padding-left: 0.5rem;
  padding-right: 0.5rem;

  margin-right: 4px;

  border-radius: 5px;
}

.reportContents {
  display: flex;
  flex-direction: column;

  border-color: $primary-background;
  border-width: 1px;
  border-style: none solid solid solid;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  div {
    svg {
      margin: 0 1rem;
    }
  }
}

.reportControls {
  display: flex;
  flex-direction: row;

  background-color: $color-light-grey;
  padding: 1rem;

  span {
    display: block;
    line-height: 1.15;
    padding: 1rem 2rem;
    color: rgba(255, 255, 255, 0.75);

    background-color: $primary-background;
  }

  span {
    border-radius: 5px;
  }

  span + div,
  div + span,
  span + span {
    margin-left: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  .reportDate {
    background-color: darken($primary-background, 5%);
  }

  .activeTabButton {
    background-color: $dark-mode-background;
    color: white;

    &:hover {
      background-color: $dark-mode-background;
    }
  }

  .reportNavButton {
    background-color: lighten($primary-background, 10%);
  }

  .reportControls {
    background-color: $color-mid-grey;
  }
}
