@import "../../styles/colors.scss";

.reportContainer {
  margin: 2em 0;
}

.reportToolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: $primary-background;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  .left,
  .right {
    display: flex;
    flex-direction: row;
  }

  .left {
    padding-left: 10px;
    padding-top: 8px;

    button + button {
      margin-left: 0.25em;
    }
  }

  .right {
    padding-top: 4px;
    padding-right: 5px;
    padding-bottom: 4px;
  }
}

.reportTabButton {
  display: inline-block;
  border: none;
}

.activeTabButton {
  background-color: $button-active-background;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.reportContents {
  display: flex;
  flex-direction: column;

  border-color: $primary-background;
  border-width: 1px;
  border-style: none solid solid solid;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.reportControls {
  display: flex;
  flex-direction: row;

  background-color: $color-light-grey;
  padding: 1rem;

  span {
    display: block;
    line-height: 1.15;
    padding: 1rem 2rem;
    color: rgba(255, 255, 255, 0.75);

    background-color: $button-background;
  }

  span {
    border-radius: 5px;
  }

  span + div,
  div + span,
  div + div,
  span + span {
    margin-left: 1rem;
  }

  select {
    max-width: 30rem;
  }
}

.reportCharts {
  padding: 2rem 0;

  > div + div {
    margin-top: 2rem;
  }
}

.tooltip {
  font-size: 80%;
  width: 20rem;
  background-color: $color-white-grey;

  .title {
    margin: 0;
    font-weight: bold;
    text-align: center;
    background-color: $color-light-grey;
  }

  .notice {
    text-align: center;
    font-style: italic;
  }

  table {
    border: none;
    width: 100%;

    tbody tr {
      th,
      td {
        padding: 0.25rem 1rem;
      }

      th {
        text-align: left;
        background-color: $color-light-grey;
      }

      td {
        text-align: right;
      }
    }
  }

  &.large {
    width: 30rem;
  }
}

@media (prefers-color-scheme: dark) {
  .reportControls {
    background-color: $color-mid-grey;
  }

  .tooltip {
    background-color: $color-dark-grey;

    .title,
    table tbody tr th {
      background-color: $color-mid-grey;
    }
  }
}
