<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="referer" content="no-referer-when-downgrade">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/svg" href="/favicon.svg">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#12304c">
    <meta name="msapplication-TileColor" content="#12304e">
    <meta name="theme-color" content="#12304e">
    <title>{% block title %}{% if page %}{{ page.title }}{% endif %}{% endblock %}</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Blake Rain",
        "url": "https://blakerain.com"
      }
    </script>
    <link rel="stylesheet" href="/css/main.css">
    <meta name="author" content="Blake Rain">
    {%- if page %}
      <link rel="canonical" href="https://blakerain.com/{{ page.path }}">
      {%- if page.summary %}
        <meta name="description" content="{{ page.summary }}">
      {%- endif %}
      {%- if page.tags and page.tags | length > 0 %}
        <meta name="keywords" content="{{ page.tags | join(", ") }}">
      {%- endif %}
    {%- endif %}
    {% block head %}{% endblock %}
  </head>
  <body class="flex flex-col">
    <a style="display: none;" href="https://mastodonapp.uk/@BlakeRain" rel="me">Mastodon</a>
    <a style="display: none;" href="https://git.blakerain.com/BlakeRain" rel="me">Forgejo</a>
    <a style="display: none;" href="https://github.com/BlakeRain" rel="me">github.com/BlakeRain</a>
    {%- include "layout/navigation.html" %}
    {%- block main %}{% endblock %}
    {%- include "layout/footer.html" %}
  </body>
</html>
