<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="referer" content="no-referer-when-downgraded">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" size="76x76x" href="/apple-touch-icon.png">
    <link rel="icon" type="image/svg" href="/favicon.svg">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tag.svg" color="#12304c">
    <meta name="msapplication-TileColor" content="#12304c">
    <meta name="theme-color" content="#12304c">
    <title>{% block title %}{% if page and page.frontmatter and page.frontmatter.title is string %}{{ page.frontmatter.title }}{% endif %}{% endblock %}</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Blake Rain",
        "url": "https://blakerain.com"
      }
    </script>
    <link rel="stylesheet" href="/css/main.css">
    <meta name="author" content="Blake Rain">
    {%- if page %}
      <link rel="canonical" href="https://blakerain.com/{{ page.path }}">
      {%- if page.summary_text %}
        <meta name="description" content="{{ page.summary_text }}">
      {%- endif %}
      {%- if page.tags and page.tags | length > 0 %}
        <meta name="keywords" content="{{ page.tags | join(', ') }}">
      {%- endif %}
    {%- endif %}
    {% from "macros/page-css.html" import page_css %}
    {{ page_css() }}
    {% block head %}{% endblock %}
  </head>
  <body>
    {%- include "layout/navigation.html" %}
    {%- block main %}{% endblock %}
    {%- include "layout/footer.html" %}
  </body>
</html>
