{% from "macros/article/item.html" import article_item %}
{% extends "base.html" %}
{% block title %}{{ page.tag }}{% endblock %}
{% block main %}
<main class="articles-list content">
  <h1>
    {{ icon("bootstrap", "tags-fill") }}
    <span>Pages Featuring</span>
    <span>{{ page.tag }}</span>
  </h1>
  <div class="items separated">
    {%- for page in load_pages("blog") | sort(attribute="frontmatter.date", reverse=true) %}
      {% if page.frontmatter.tags | contains(page.tag) %}
        {% call article_item(page) %}
          {% if page.frontmatter.summary %}
            <p>{{ page.frontmatter.summary }}</p>
          {% else %}
            {{ page.summary | safe }}
          {% endif %}
          <p class="read-more">
            <a class="colored" href="/{{ page.base }}/">Read more …</a>
          </p>
        {% endcall %}
      {% endif %}
    {%- endfor %}
  </div>
</main>
{% endblock %}
