<article class="{{ if not .first }}pt-8 border-t border-t-neutral-300 dark:border-t-neutral-700{{ end }}">
  {{ with .note }}
    <header class="flex flex-col mb-4">
      <div class="flex flex-row items-center gap-1">
        {{ if isset .Params "link"}}
          {{ partial "icons/icon" (dict "vendor" "lucide" "name" "external-link") }}
          <a class="colored text-lg font-semibold" href="{{ .Param "link" }}" target="_blank" rel="noopener noreferrer">
            {{ .Title }}
          </a>
        {{ else }}
          <span class="text-lg font-semibold">{{ .Title }}</span>
        {{ end }}
      </div>
      <div class="flex flex-row gap-1 text-sm">
        <div class="text-neutral-700 dark:text-neutral-300">
          {{ .Param "date" | time.Format "2 Jan 2006" }}
        </div>
        <div class="text-gray-500">&#8226;</div>
        <a href="{{ .Permalink }}" title="Link directly to this note" class="colored">
          Self link
        </a>
      </div>
    </header>
    <div class="markdown">
      {{ .Content }}
    </div>
  {{ end }}
</article>
