{{ define "main" }}
<main class="articles-list content">
  {{ $tag := index .Site.Data.tags (.Data.Term | lower) }}
  <h1>
    {{ partial "icons/icon" (dict "vendor" "bootstrap" "name" "tags-fill" "className" "tag-title-icon") }}
    <span>Pages Featuring</span>
    <span>{{ with $tag }}{{ .name }}{{ else }}{{ .Data.Term | humanize | title }}{{ end }}</span>
  </h1>
  <div class="items separated">
    {{ $pager := .Paginate .Pages 10 }}
    {{ range $pager.Pages }}
      {{ with partial "article/item.html" . }}
        {{ if .Summary }}
          {{ .Summary }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ partial "pager" $pager }}
  </div>
</main>
{{ end }}
