// Theme: https://github.com/nealmckee/penumbra

$light-keyword: rgb(175, 106, 195);
$light-comment: rgb(99, 99, 99);
$light-name: rgb(186, 111, 221);
$light-literal: rgb(246, 148, 71);
$light-literal-var: rgb(0, 152, 177);
$light-string: rgb(5, 143, 104);
$light-type: rgb(186, 111, 221);
$light-number: rgb(123, 132, 35);
$light-symbol: rgb(103, 141, 219);
$light-class: rgb(205, 123, 48);
$light-param: rgb(216, 106, 128);

$dark-keyword: rgb(214, 143, 235);
$dark-comment: rgb(99, 99, 99);
$dark-name: rgb(204, 148, 230);
$dark-literal: rgb(246, 148, 71);
$dark-literal-var: rgb(0, 191, 218);
$dark-string: rgb(0, 197, 138);
$dark-type: rgb(204, 148, 230);
$dark-number: rgb(179, 181, 48);
$dark-symbol: rgb(112, 161, 236);
$dark-class: rgb(242, 146, 70);
$dark-param: rgb(226, 119, 145);

.hljs-comment {
  color: $light-comment;
  font-style: italic;
}

.hljs-quote {
  color: $light-comment;
  font-style: italic;
}

.hljs-doctag {
  color: $light-keyword;
}

.hljs-keyword {
  color: $light-keyword;
}

.hljs-formula {
  color: $light-keyword;
}

.hljs-section {
  color: $light-name;
}

.hljs-name {
  color: $light-name;
}

.hljs-selector-tag {
  color: $light-name;
}

.hljs-deletion {
  color: $light-name;
}

.hljs-subst {
  color: $light-name;
}

.hljs-literal {
  color: $light-literal;
}

.hljs-string {
  color: $light-string;
}

.hljs-regexp {
  color: $light-string;
}

.hljs-addition {
  color: $light-string;
}

.hljs-attribute {
  color: $light-string;
}

.hljs-meta-string {
  color: $light-string;
}

.hljs-built_in {
  color: $light-class;
}

.hljs-class.hljs-title {
  color: $light-class;
}

.hljs-class.hljs-params {
  color: $light-class;
}

.hljs-attr {
  color: $light-type;
}

.hljs-variable {
  color: $light-literal-var;
}

.hljs-template-variable {
  color: $light-literal-var;
}

.hljs-type {
  color: $light-type;
}

.hljs-selector-class {
  color: $light-type;
}

.hljs-selector-attr {
  color: $light-type;
}

.hljs-selector-pseudo {
  color: $light-type;
}

.hljs-number {
  color: $light-number;
}

.hljs-symbol {
  color: $light-symbol;
}

.hljs-bullet {
  color: $light-symbol;
}

.hljs-link {
  color: $light-symbol;
  text-decoration: underline;
}

.hljs-meta {
  color: $light-symbol;
}

.hljs-selector-id {
  color: $light-symbol;
}

.hljs-title {
  color: $light-symbol;
}

.hljs-function.hljs-params {
  color: $light-param;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .hljs-comment {
    color: $dark-comment;
    font-style: italic;
  }

  .hljs-quote {
    color: $dark-comment;
    font-style: italic;
  }

  .hljs-doctag {
    color: $dark-keyword;
  }

  .hljs-keyword {
    color: $dark-keyword;
  }

  .hljs-formula {
    color: $dark-keyword;
  }

  .hljs-section {
    color: $dark-name;
  }

  .hljs-name {
    color: $dark-name;
  }

  .hljs-selector-tag {
    color: $dark-name;
  }

  .hljs-deletion {
    color: $dark-name;
  }

  .hljs-subst {
    color: $dark-name;
  }

  .hljs-literal {
    color: $dark-literal;
  }

  .hljs-string {
    color: $dark-string;
  }

  .hljs-regexp {
    color: $dark-string;
  }

  .hljs-addition {
    color: $dark-string;
  }

  .hljs-attribute {
    color: $dark-string;
  }

  .hljs-meta-string {
    color: $dark-string;
  }

  .hljs-built_in {
    color: $dark-class;
  }

  .hljs-class.hljs-title {
    color: $dark-class;
  }

  .hljs-class.hljs-params {
    color: $dark-class;
  }

  .hljs-attr {
    color: $dark-type;
  }

  .hljs-variable {
    color: $dark-literal-var;
  }

  .hljs-template-variable {
    color: $dark-literal-var;
  }

  .hljs-type {
    color: $dark-type;
  }

  .hljs-selector-class {
    color: $dark-type;
  }

  .hljs-selector-attr {
    color: $dark-type;
  }

  .hljs-selector-pseudo {
    color: $dark-type;
  }

  .hljs-number {
    color: $dark-number;
  }

  .hljs-symbol {
    color: $dark-symbol;
  }

  .hljs-bullet {
    color: $dark-symbol;
  }

  .hljs-link {
    color: $dark-symbol;
    text-decoration: underline;
  }

  .hljs-meta {
    color: $dark-symbol;
  }

  .hljs-selector-id {
    color: $dark-symbol;
  }

  .hljs-title {
    color: $dark-symbol;
  }

  .hljs-function.hljs-params {
    color: $dark-param;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }
}
