@import "./colors.scss";
@import "./fonts.scss";

html {
  font-size: 62.5%;
  box-sizing: border-box;

  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  color: $color-body-text;

  font-family: $body-font-family;
  font-size: 1.6rem;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  background: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smooting: grayscale;
}

@media (prefers-color-scheme: dark) {
  body {
    color: $dark-mode-body-text;
    background: $dark-mode-background;
  }
}

::selection {
  text-shadow: none;
  background: lighten($color-blue, 30%);
}

a {
  color: darken($color-blue, 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  small {
    display: block;
    margin-top: 0.4em;
    font-size: 70%;
    color: lighten($color-mid-grey, 20%);
  }
}

.text-danger {
  color: $color-red;
}

button {
  background-color: $button-background;

  cursor: pointer;

  color: white;

  padding: 1rem 2rem;

  border: 1px solid $color-light-grey;
  border-radius: 0.25rem;

  transition: all 0.25s ease;

  &:hover {
    background-color: $button-active-background;
  }

  &:disabled {
    border-color: transparent;
    background-color: $color-light-grey;
    cursor: inherit;
    color: $color-mid-grey;
  }
}

div.buttonGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  button {
    border-radius: 0;

    &:first-of-type {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-of-type {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

select,
input {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  color: $color-dark-grey;
  background-color: white;

  border: 1px solid $color-light-grey;
  border-radius: 0.25rem;

  &:focus {
    outline: 0;
    border-color: lighten($primary-background, 25%);
    box-shadow: 0 0 0.25rem 0.25rem
      change-color($primary-background, $alpha: 0.25);
  }

  &:disabled {
    background-color: $color-light-grey;
  }
}

input {
  padding: 1rem;
}

select {
  padding: 1rem 3rem 1rem 1rem;

  appearance: none;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");

  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

@media (prefers-color-scheme: dark) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    small {
      color: lighten($color-mid-grey, 10%);
    }
  }

  button {
    border-color: $color-mid-grey;

    &:disabled {
      background-color: $color-dark-grey;
    }
  }

  select,
  input {
    color: rgba(255, 255, 255, 0.75);
    background-color: lighten($dark-mode-background, 10%);
    border-color: $color-mid-grey;

    &:focus {
      border-color: $color-blue;
      box-shadow: 0 0 0.25rem 0.25rem change-color($color-blue, $alpha: 0.5);
    }

    &:disabled {
      border-color: transparent;
      background-color: $color-dark-grey;
    }
  }

  select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23697581' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  }

  a {
    color: darken($color-blue, 5%);
  }
}

mark {
  &.active {
    background-color: rgb(255, 191, 51);
  }
}
