@import "./colors.scss";
@import "./fonts.scss";

html {
  font-size: 62.5%;
  box-sizing: border-box;

  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  color: darken($color-mid-grey, 30%);

  font-family: $body-font-family;
  font-size: 1.6rem;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  background: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smooting: grayscale;
}

@media (prefers-color-scheme: dark) {
  body {
    color: rgba(255, 255, 255, 0.75);
    background: $dark-mode-background;
  }
}

::selection {
  text-shadow: none;
  background: lighten($color-blue, 30%);
}

a {
  color: darken($color-blue, 5%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  small {
    display: block;
    margin-top: 0.4em;
    font-size: 70%;
    color: lighten($color-mid-grey, 20%);
  }
}

button {
  background-color: $button-background;

  cursor: pointer;

  color: white;

  padding: 1rem 2rem;

  border: none;
  border-radius: 5px;

  transition: all 0.25s ease;

  &:hover {
    background-color: $button-active-background;
  }

  &:disabled {
    background-color: lighten($primary-background, 15%);
    color: rgba(255, 255, 255, 0.4);
  }
}

div.buttonGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  button {
    border-radius: 0;

    &:first-of-type {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-of-type {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

input {
  padding: 1rem;

  color: $color-dark-grey;
  background-color: white;

  border: none;
  border-radius: 5px;

  &:disabled {
    background-color: $color-light-grey;
  }
}

@media (prefers-color-scheme: dark) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    small {
      color: lighten($color-mid-grey, 10%);
    }
  }
}

mark {
  &.active {
    background-color: rgb(255, 191, 51);
  }
}
