svg g.cluster text {
  fill: black;
}

svg g.cluster polygon {
  stroke: rgb(19, 48, 78);
}

svg g.node text {
  fill: black;
}

svg g.node ellipse {
  stroke: rgb(19, 48, 78);
}

svg g.edge polygon {
  stroke: rgb(19, 48, 78);
  fill: rgb(19, 48, 78);
}

svg g.edge path {
  stroke: rgb(19, 48, 78);
}

svg g.edge text {
  fill: rgb(19, 48, 78);
}

@media (prefers-color-scheme: dark) {
  svg g.cluster text {
    fill: white;
  }

  svg g.cluster polygon {
    stroke: rgb(46, 88, 132);
  }

  svg g.node text {
    fill: white;
  }

  svg g.node ellipse {
    stroke: rgb(46, 88, 132);
  }

  svg g.edge polygon {
    stroke: #eeeeee;
    fill: #eeeeee;
  }

  svg g.edge path {
    stroke: #eeeeee;
  }

  svg g.edge text {
    fill: white;
  }
}
